.Header{
  background-color: blue;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  text-shadow: 3px 3px 5px red;
}
.input1{
  margin-left: 200px;
  width: 400px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
}
#search{
  color: #888;
  text-shadow: none;
  font-size: 25px;
  background-color: white;
  width: 30px;
  height: 37px;
  margin-left: -2px;
  padding-right: 5px;
  padding-top: 5.5px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}
.data{
  margin-top: 100px;
  display: flex;
}
.english{
  margin-left: 18%;
}
.hindi{
  /* margin-left: 20%; */
}
li{
  list-style-type: none;
  font-size: 20px;
  background-color: #e5e5e5;
  padding: 20px;
  width: 500px;
  margin-bottom: 5px;
  text-align: center;
}
@media only screen and (max-width: 1330px) {
 .english{
   margin-left: -15px;
 }
 li{
   width: 400px;
 }
 .input1{
   height: 40px;
 }
 #search{
   height: 41px;
   padding-top: 12px;
 }
}